﻿@model _19T1021105.DomainModels.Category
@{

}

<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal" action="~/Category/Save" method="post">
            @Html.AntiForgeryToken()

            <input type="hidden" name="CategoryID" value="@Model.CategoryID" />

            <div class="form-group">
                <label class="control-label col-sm-2">Tên loại hàng:</label>
                <div class="col-sm-10">
                    <input type="Text" class="form-control" autofocus
                           value="@Model.CategoryName" name="CategoryName">
                    @Html.ValidationMessageFor(m => m.CategoryName, "", new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Mô tả:</label>
                <div class="col-sm-10">
                    <input type="Text" class="form-control"
                           value="@Model.Description" name="Description">
                    @Html.ValidationMessageFor(m => m.Description, "", new { @style = "color:#f00" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                        Lưu dữ liệu
                    </button>
                    <a href="~/Suplier" class="btn btn-warning">
                        Quay lại
                    </a>
                </div>
            </div>

        </form>

    </div>
</div>

