﻿@model _19T1021105.DomainModels.Suplier
@{
    
}

<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal" action="~/Suplier/Save" method="post">
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.SuplierID)

            <div class="form-group">
                <label class="control-label col-sm-2">Tên nhà cung cấp:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.SuplierName, new { @class="form-control", @autofocus="autofocus"})
                  <!--  <input type="Text" class="form-control" autofocus
                           value="@Model.SuplierName" name="SuplierName"> -->
                    @Html.ValidationMessageFor(m => m.SuplierName, "", new { @style="color:#f00"})
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Tên giao dịch:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ContactName, "", new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Địa chỉ:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Address, new { @class="form-control"})
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Điện thoại:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Quốc gia:</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.Country, SelectListHelper.Countries(), new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Country, "", new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Thành phố:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Mã bưu chính:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    @Html.ValidationSummary("", new { @style = "color:#f00" })
                </div>

                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                        Lưu dữ liệu
                    </button>
                    <a href="~/Suplier" class="btn btn-warning">
                        Quay lại
                    </a>
                </div>
            </div>
        </form>

    </div>
</div>

