﻿@model _19T1021105.Web.Models.PasswordResult
@{
    
}

<div class="login-box-body">
    <h3 class="login-box-msg">Đổi mật khẩu</h3>

    <form class="form-horizontal" action="~/Account/ChangePassword" method="post">

        @Html.AntiForgeryToken()

        <div class="form-group has-feedback">
            <input type="password" name="OldPassword" value="@Model.OldPassword" class="form-control" placeholder="Nhập mật khẩu cũ" autofocus>
            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @style = "color:#f00" })
        </div>

        <div class="form-group has-feedback">
            <input type="password" name="NewPassword" value="@Model.NewPassword" class="form-control" placeholder="Nhập mật khẩu mới">
            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @style = "color:#f00" })
        </div>

        <div class="form-group has-feedback">
            <input type="password" name="ReEnterPassword" value="@Model.ReEnterPassword" class="form-control" placeholder="Nhập lại mật khẩu mới">
            @Html.ValidationMessageFor(m => m.ReEnterPassword, "", new { @style = "color:#f00" })
        </div>

        <div class="col-xs-8" style="color:red">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 text-danger">
                    @Html.ValidationMessage("", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-floppy-disk"></i> Đổi mật khẩu
                </button>

                <a href="~/" class="btn btn-warning">Quay lại</a>
            </div>
        </div>

    </form>

</div>
