﻿
@{
    ViewBag.Title = "Quản lý người giao hàng";
}

<div class="box box-primary">
    <div class="box-body">
        <!-- tìm kiếm -->
        <form>
            <div class="input-group">
                <input type="text" name="searchValue" class="form-control" placeholder="Search" autofocus>

                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i> Tìm kiếm
                    </button>

                    <a href="~/Shiper/Create" class="btn btn-primary" style="margin-left:5px">
                        <i class="fa fa-plus"></i> Bổ sung
                    </a>
                </div>
            </div>
        </form>

        <!-- kết quả tìm kiếm -->
        <p style="margin-top: 10px">
            có <strong>100</strong> Nhân viên giao hàng trong tổng số <strong>20</strong> trang
        </p>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Tên nhân viên giao hàng</th>
                        <th>số điện thoại</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 1; i <= 10; i++)
                    {
                        <tr>
                            <td>Huy Hoàng</td>
                            <td>078933456</td>
                            <td class="text-right">
                                <a href="~/Shiper/Edit" class="btn btn-xs btn-primary">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="~/Shiper/Delete" class="btn btn-xs btn-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="text-center">
            <ul class="pagination">
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </div>

    </div>
</div>


