﻿@model _19T1021105.Web.Models.OrderEditModel
@{
    ViewBag.Title = "Quản lý đơn hàng";
}

<div class="box box-primary">
    <div class="box-header text-right">
        <div class="btn-group">
            <!-- //TODO
            YÊU CẦU: Đối với các chức năng liên quan đến đơn hàng, chỉ được hiển thị menu/nút của những chức năng
            phù hợp với trạng thái hiện tại của đơn hàng (ví dụ: Nếu đơn hàng chưa được chấp nhận thì không được chuyển để giao hàng)
            -->
            @if (ViewBag.isAuthor)
            {
                <div class="btn-group" )>
                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                        Xử lý đơn hàng <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        @if (Model.Data.Status == 1)
                        {
                            <li><a href="~/Order/Accept/@Model.Data.OrderID" onclick="return confirm('Xác nhận duyệt chấp nhận đơn hàng này?')">Duyệt đơn hàng</a></li>
                            <li class="divider"></li>
                            <li><a href="~/Order/Cancel/@Model.Data.OrderID" onclick="return confirm('Xác nhận hủy đơn hàng này?')">Hủy đơn hàng</a></li>
                            <li><a href="~/Order/Reject/@Model.Data.OrderID" onclick="return confirm('Xác nhận từ chối đơn hàng này?')">Từ chối đơn hàng</a></li>
                        }
                        else if (Model.Data.Status == 2)
                        {
                            <li><a href="~/Order/Shipping/@Model.Data.OrderID" class="btn-modal">Chuyển giao hàng</a></li>
                            <li class="divider"></li>
                            <li><a href="~/Order/Cancel/@Model.Data.OrderID" onclick="return confirm('Xác nhận hủy đơn hàng này?')">Hủy đơn hàng</a></li>
                        }
                        else if (Model.Data.Status == 3)
                        {
                            <li><a href="~/Order/Finish/@Model.Data.OrderID" onclick="return confirm('Xác nhận đơn hàng đã hoàn tất thành công?')">Xác nhận hoàn tất đơn hàng</a></li>
                            <li class="divider"></li>
                            <li><a href="~/Order/Cancel/@Model.Data.OrderID" onclick="return confirm('Xác nhận hủy đơn hàng này?')">Hủy đơn hàng</a></li>
                        }
                        else if (Model.Data.Status == 4)
                        {
                            <li>Đơn hàng đã thành công!</li>
                        }
                        else if (Model.Data.Status == -1 || Model.Data.Status == -2)
                        {
                            <li>Đơn hàng đã bị từ chối!</li>
                        }
                    </ul>
                </div>
                if (Model.Data.Status == 1 || Model.Data.Status == -1 || Model.Data.Status == -2)
                { <a href="~/Order/Delete/@Model.Data.OrderID" class="btn btn-sm btn-danger" onclick="return confirm('Có chắc chắn muốn xóa đơn hàng này không?')"><i class="fa fa-trash"></i> Xóa đơn hàng</a>}
            }


            <a href="~/Order" class="btn btn-sm btn-info">Quay lại</a>
        </div>
    </div>
    <div class="box-body form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2">Mã đơn hàng:</label>
            <div class="col-sm-4">
                <p class="form-control-static">@Model.Data.OrderID</p>
            </div>
            <label class="control-label col-sm-2">Ngày lập đơn hàng:</label>
            <div class="col-sm-4">
                <p class="form-control-static">@Model.Data.OrderTime</p>
            </div>
            <label class="control-label col-sm-2">Nhân viên phụ trách:</label>
            <div class="col-sm-4">
                <p class="form-control-static">@Model.Data.EmployeeFullName</p>
            </div>
            <label class="control-label col-sm-2">Ngày nhận đơn hàng:</label>
            <div class="col-sm-4">
                <p class="form-control-static">@Model.Data.AcceptTime</p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Khách hàng:</label>
            <div class="col-sm-4">
                <p class="form-control-static">@Model.Data.CustomerName</p>
            </div>
            <label class="control-label col-sm-2">Tên giao dịch:</label>
            <div class="col-sm-4">
                <p class="form-control-static">@Model.Data.CustomerContactName</p>
            </div>
            <label class="control-label col-sm-2">Địa chỉ:</label>
            <div class="col-sm-10">
                <p class="form-control-static">@Model.Data.CustomerAddress</p>
            </div>
            <label class="control-label col-sm-2">Email:</label>
            <div class="col-sm-4">
                <p class="form-control-static">@Model.Data.CustomerEmail</p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Người giao hàng:</label>
            <div class="col-sm-4">
                <p class="form-control-static">@Model.Data.ShipperName</p>
            </div>
            <label class="control-label col-sm-2">Điện thoại:</label>
            <div class="col-sm-4">
                <p class="form-control-static">@Model.Data.ShipperPhone</p>
            </div>
            <label class="control-label col-sm-2">Nhận giao hàng lúc:</label>
            <div class="col-sm-4">
                <p class="form-control-static">@Model.Data.ShippedTime</p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Trạng thái đơn hàng:</label>
            <div class="col-sm-4">
                <p class="form-control-static">@Model.Data.StatusDescription</p>
            </div>
            <label class="control-label col-sm-2">Thời điểm hoàn tất:</label>
            <div class="col-sm-4">
                <p class="form-control-static">@Model.Data.FinishedTime</p>
            </div>
        </div>
    </div>

    <div class="box-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <caption><h4>Danh sách mặt hàng thuộc đơn hàng</h4></caption>
                <thead>
                    <tr class="bg-primary">
                        <th class="text-center">STT</th>
                        <th class="text-center">Tên hàng</th>
                        <th class="text-center">ĐVT</th>
                        <th class="text-center">Số lượng</th>
                        <th class="text-center">Giá</th>
                        <th class="text-center">Thành tiền</th>
                        <th style="width:80px"></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.OrderDetail.Select((value, index) => new { value, index }))
                    {
                        <tr>
                            <td class="text-center">@(item.index+1)</td>
                            <td>@item.value.ProductName</td>
                            <td class="text-center">@item.value.Unit</td>
                            <td class="text-center">@item.value.Quantity</td>
                            <td class="text-right">@item.value.SalePrice</td>
                            <td class="text-right">@item.value.TotalPrice</td>
                            <td class="text-right">
                                <a href="~/Order/EditDetail/@item.value.OrderID/@item.value.ProductID" class="btn btn-xs btn-primary btn-modal">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="~/Order/DeleteDetail/@item.value.OrderID/@item.value.ProductID" class="btn btn-xs btn-danger" onclick="return confirm('Xóa mặt hàng này khỏi đơn hàng?')">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="5" class="text-right">Tổng cộng:</th>
                        <th class="text-right">@Model.TotalPriceOrder</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div id="dialogModal" class="modal fade" role="dialog">
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".btn-modal").click(function (e) {
                e.preventDefault();
                var link = $(this).prop("href");
                $.ajax({
                    url: link,
                    type: "GET",
                    async: false,
                    error: function () {
                        alert("Your request is not valid!");
                    },
                    success: function (data) {
                        $("#dialogModal").empty();
                        $("#dialogModal").html(data);
                        $("#dialogModal").modal();
                    }
                });
            });
        })
    </script>
}