﻿@model _19T1021105.Web.Models.OrderSearchOutput
@{
    Layout = null;
}
<p style="margin-top: 10px">
    Có <strong>@Model.RowCount</strong> đơn hàng trong tổng số <strong>@Model.PageCount</strong> trang
</p>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Khách hàng</th>
                <th>Ngày lập</th>
                <th>Nhân viên phụ trách</th>
                <th>Thời điểm duyệt</th>
                <th>Người giao hàng</th>
                <th>Ngày nhận giao hàng</th>
                <th>Thời điểm kết thúc</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>@item.CustomerName</td>
                    <td>@string.Format("{0:dd/MM/yyyy hh:mm}", @item.OrderTime)</td>
                    <td>@item.EmployeeFullName</td>
                    <td>@string.Format("{0:dd/MM/yyyy hh:mm}", @item.AcceptTime)</td>
                    <td>@item.ShipperName</td>
                    <td>@string.Format("{0:dd/MM/yyyy hh:mm}", @item.ShippedTime)</td>
                    <td>@string.Format("{0:dd/MM/yyyy hh:mm}", @item.FinishedTime)</td>
                    <td>@item.Status</td>
                    <td>
                        <a href="~/Order/Details/@item.OrderID" class="btn btn-info btn-xs">
                            <i class="glyphicon glyphicon-th-list"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="text-center">
    <ul class="pagination">
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            if (i == Model.Page)
            {
                <li class="active"><a href="#">@i</a></li>
            }
            else
            {
                <li><a fref="javascript:;" onclick="doSearch(@i)">@i</a></li>
            }
        }
    </ul>
</div>