﻿@model _19T1021105.DomainModels.Order
@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <form id="formEditDetail" action="~/Order/updateShipping" method="post">
            <input hidden value="@Model.OrderID" name="id" />
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cập nhật chi tiết đơn hàng</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Người giao hàng:</label>
                    <select class="form-control" name="shipperID">
                        <option value="0">-- Chọn người giao hàng ---</option>
                        @foreach (var item in _19T1021105.BusinessLayers.CommonDataService.ListOfShippers())
                        {
                            <option value="@item.ShipperID">@item.ShipperName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <span id="errorMessage" style="color:#f00"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i> Cập nhật
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Bỏ qua
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#formEditDetail").submit(function (e) {
            e.preventDefault();
            var data = $(this).serializeArray();
            var link = $(this).prop("action");
            $.ajax({
                url: link,
                data: data,
                type: "POST",
                async: false,
                error: function () {
                    alert("Your request is not valid!");
                },
                success: function (msg) {
                    if (msg !== "") {
                        $("#errorMessage").html(msg);
                    }
                    else {
                        window.location.reload();
                    }
                }
            });

        });
    })
</script>
