﻿@model _19T1021105.DomainModels.Product
@{
    ViewBag.Title = "Xóa mặt hàng";
}


<div class="box box-primary">
    <div class="box-header with-border ">
    </div>

    <div class="box-body">
        <form class="form-horizontal" action="~/product/Delete/@Model.ProductID" method="post">

            <div class="form-group">
                <label class="control-label col-sm-2">Ảnh sản phẩm:</label>
                <div class="col-sm-10">
                    <img src="~/@Model.Photo" style="width:200px" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Tên mặt hàng:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.ProductName</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Đơn vị tính:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.Unit</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Giá hàng:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.Price</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    @if (_19T1021105.BusinessLayers.ProductDataService.InUsedProduct(Model.ProductID))
                    {
                        <p class="text-danger"> Không thể xóa mặt hàng</p>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-danger">
                            <i class="fa fa-trash"></i> Đồng ý xóa
                        </button>
                    }
                    <a class="btn btn-warning" href="~/product">
                        <i class="fa fa-ban"></i> Quay lại
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="box-footer text-center">
    </div>

</div>

