﻿@model _19T1021105.DomainModels.Product
@{
    ViewBag.Title = "Cập nhật mặt hàng";
}

<div class="box box-primary">
    <div class="box-header with-border ">
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>

    <div class="box-body">
        <form class="form-horizontal" action="~/product/Save" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.ProductID)

            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10">
                    <input type="hidden" class="form-control" value="@Model.Photo" name="Photo">
                    <img id="Photo" src="~/@Model.Photo" style="width:200px;" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ảnh sản phẩm:</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" name="uploadPhoto" accept="image/*"
                           onchange="document.getElementById('Photo').src = window.URL.createObjectURL(this.files[0])" />
                    @Html.ValidationMessageFor(m => m.Photo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Tên mặt hàng:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="ProductName" value="@Model.ProductName" autofocus>
                    @Html.ValidationMessageFor(m => m.ProductName, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Loại hàng:</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.CategoryID, SelectListHelper.Categories(), new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CategoryID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Nhà cung cấp:</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.SuplierID, SelectListHelper.Supliers(), new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SuplierID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Đơn vị tính:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Unit" value="@Model.Unit" autofocus>
                    @Html.ValidationMessageFor(m => m.Unit, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Giá hàng:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Price" value="@Model.Price">
                    @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                        Lưu dữ liệu
                    </button>
                    <a href="~/product" class="btn btn-warning">
                        Quay lại
                    </a>
                </div>
            </div>


        </form>
    </div>
    <div class="box-footer text-center">
    </div>
</div>

<div class="box box-info">
    <div class="box-header with-border ">
        <h3 class="box-title">Thư viện ảnh</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr class="bg-gray">
                    <th>Ảnh</th>
                    <th>Mô tả/tiêu đề</th>
                    <th>Thứ tự hiển thị</th>
                    <th>Ẩn ảnh</th>
                    <th class="text-right">
                        <a class="btn btn-xs btn-primary" href="~/product/photo/add/@Model.ProductID">
                            <i class="fa fa-plus"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in _19T1021105.BusinessLayers.ProductDataService.ListPhotos(Model.ProductID))
                {
                    <tr>
                        <td style="vertical-align:middle">
                            <img src="@item.Photo" alt="" style="width:100px" />
                        </td>
                        <td style="vertical-align:middle;">
                            @item.Description
                        </td>
                        <td style="vertical-align:middle;">@item.DisplayOrder</td>
                        <td style="vertical-align:middle;">@item.IsHidden</td>
                        <td style="vertical-align:middle; text-align:right">
                            <a class="btn btn-xs btn-primary" href="~/product/photo/edit/@item.ProductID/@item.PhotoID">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="btn btn-xs btn-danger" href="~/product/photo/delete/@item.ProductID/@item.PhotoID" onclick="return confirm('Xóa ảnh của mặt hàng?')">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="box-footer text-center">
    </div>

</div>

<div class="box box-success">
    <div class="box-header with-border ">
        <h3 class="box-title">Thuộc tính của mặt hàng</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>

    <div class="box-body">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr class="bg-gray">
                    <th>Tên thuộc tính</th>
                    <th>Giá trị thuộc tính</th>
                    <th>Thứ tự hiển thị</th>
                    <th class="text-right">
                        <a class="btn btn-xs btn-primary" href="~/product/attribute/add/@Model.ProductID">
                            <i class="fa fa-plus"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in _19T1021105.BusinessLayers.ProductDataService.ListAttributes(Model.ProductID))
                {
                    <tr>
                        <td style="vertical-align:middle">@item.AttributeName</td>
                        <td style="vertical-align:middle;">@item.AttributeValue</td>
                        <td style="vertical-align:middle;">@item.DisplayOrder</td>
                        <td style="vertical-align:middle; text-align:right">
                            <a class="btn btn-xs btn-primary" href="~/product/attribute/edit/@item.ProductID/@item.AttributeID">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="btn btn-xs btn-danger" href="~/product/attribute/delete/@item.ProductID/@item.AttributeID" onclick="return confirm('Xóa thuộc tính này của mặt hàng?')">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="box-footer text-center">
    </div>

</div>


