﻿@model _19T1021105.Web.Models.PaginationSearchInput
@{
    ViewBag.Title = "Quản lý mặt hàng";
}


<div class="container-fluid box box-primary">
    <div class="box-header">
    </div>
    <div class="box-body">
        <form id="formSearch" action="~/product/search" method="post">
            <div class="row">
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.CategoryID, SelectListHelper.Categories(), new { @class ="form-control", @name = "CategoryID", @value = "@CategoryID"})
                </div>
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.SuplierID, SelectListHelper.Supliers(), new { @class = "form-control", @name = "SuplierID", @value = "@SUplierID" })
                </div>
                <input type="hidden" name="PageSize" value="@Model.PageSize" />

                <div class="input-group">
                    <input type="text"
                           name="searchValue"
                           class="form-control"
                           placeholder="Search" autofocus value="@Model.SearchValue">

                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" name="search" id="search-btn">
                            <i class="glyphicon glyphicon-search"></i> Tìm kiếm
                        </button>

                        <a href="~/Product/Create" class="btn btn-primary" style="margin-left:5px">
                            <i class="fa fa-plus"></i> Bổ sung
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    @*Kết quả tìm kiếm *@
    <div id="searchResult"></div>

</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#formSearch").submit(function (e) {
                e.preventDefault();
                doSearch(1);
                return;
            });
            doSearch(@Model.Page);
        })
        function doSearch(page) {
            var url = $("#formSearch").prop("action");
            var postData = $("#formSearch").serializeArray();
            postData.push({ "name": "page", "value": page });

            $.ajax({
                url: url,
                type: "POST",
                data: postData,
                error: function () {
                    alert("Your request is not valid!");
                },
                success: function (data) {
                    $("#searchResult").html(data);
                }
            });

            return;
        }
    </script>
}
