﻿@model _19T1021105.DomainModels.ProductPhoto
@{

}

<div class="box box-primary">
    <div class="box-header with-border ">
    </div>

    <div class="box-body">
        <form class="form-horizontal" action="~/Product/SavePhoto" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.PhotoID)

            @Html.HiddenFor(m => m.ProductID)

            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10">
                    <input type="hidden" name="Photo" value="@Model.Photo" />
                    <img id="Photo" src="~/@Model.Photo" style="width:150px" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ảnh:</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" name="uploadPhoto" accept="image/*"
                           onchange="document.getElementById('Photo').src = window.URL.createObjectURL(this.files[0])" />
                    @Html.ValidationMessageFor(m => m.Photo, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Mô tả:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Description" value="@Model.Description" autofocus>
                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Thứ tự hiển thị:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" name="DisplayOrder" value="@Model.DisplayOrder" autofocus>

                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10 checkbox">
                    <label>@Html.CheckBoxFor(m => m.IsHidden) Ẩn ảnh (không hiển thị với khách hàng)</label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                        Lưu dữ liệu
                    </button>
                    <a href="~/product/edit/@Model.ProductID" class="btn btn-warning">
                        Quay lại
                    </a>
                </div>
            </div>


        </form>
    </div>
    <div class="box-footer text-center">
    </div>

</div>