﻿@model _19T1021105.Web.Models.ProductSearchOutput
@{
    Layout = null;
}

<p style="margin-top: 10px">
    Có <strong>@Model.RowCount</strong> mặt hàng trong tổng số <strong>@Model.PageCount</strong> trang
</p>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th style="width:80px">Ảnh</th>
                <th>Tên mặt hàng</th>
                <th>Đơn vị tính</th>
                <th>Giá</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>
                        @*<img src="Images/Products/@item.Photo" style="width:80px" />*@
                        @if (item.Photo.Contains("http"))
                        {
                            <img src="@item.Photo" style="width:80px" alt="avatar" />
                        }
                        else
                        { <img src="~/Images/Products/@item.Photo" style="width:80px" alt="avatar" />}
                    </td>
                    <td style="vertical-align:middle">@item.ProductName</td>
                    <td style="vertical-align:middle">@item.Unit</td>
                    <td style="vertical-align:middle">@item.Price</td>
                    <td class="text-right" style="vertical-align:middle">
                        <a href="~/product/Edit/@item.ProductID" class="btn btn-xs btn-primary">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="~/product/Delete/@item.ProductID" class="btn btn-xs btn-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="text-center">
    <ul class="pagination">
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            if (i == Model.Page)
            {
                <li class="active"><a href="#">@i</a></li>
            }
            else
            {
                <li><a href="javascript:;" onclick="doSearch(@i)">@i</a></li>
            }
        }
    </ul>
</div>
