﻿@model _19T1021105.DomainModels.Shipper
@{

}

<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal" action="~/Shipper/Save" method="post">
            @Html.AntiForgeryToken()

            <input type="hidden" name="ShipperID" value="@Model.ShipperID" />

            <div class="form-group">
                <label class="control-label col-sm-2">Tên Nhân viên giao hàng:</label>
                <div class="col-sm-10">
                    <input type="Text" class="form-control" autofocus
                           value="@Model.ShipperName" name="ShipperName">
                    @Html.ValidationMessageFor(m => m.ShipperName, "", new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Số điện thoại:</label>
                <div class="col-sm-10">
                    <input type="Text" class="form-control"
                           value="@Model.Phone" name="Phone">
                    @Html.ValidationMessageFor(m => m.Phone, "", new { @style = "color:#f00" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                        Lưu dữ liệu
                    </button>
                    <a href="~/Shipper" class="btn btn-warning">
                        Quay lại
                    </a>
                </div>
            </div>

        </form>

    </div>
</div>

