﻿@model _19T1021105.DomainModels.Customer
@{

}

<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal" action="~/Customer/Save" method="post">
            @Html.AntiForgeryToken()

            <input type="hidden" name="CustomerID" value="@Model.CustomerID" />

            <div class="form-group">
                <label class="control-label col-sm-2">Tên khách hàng:</label>
                <div class="col-sm-10">
                    <input type="Text" class="form-control" autofocus
                           value="@Model.CustomerName" name="CustomerName">
                    @Html.ValidationMessageFor(m => m.CustomerName, "", new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Tên giao dịch:</label>
                <div class="col-sm-10">
                    <input type="Text" class="form-control"
                           value="@Model.ContactName" name="ContactName">
                    @Html.ValidationMessageFor(m => m.ContactName, "", new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Email:</label>
                <div class="col-sm-10">
                    <input type="Text" class="form-control"
                           value="@Model.Email" name="Email">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Địa chỉ:</label>
                <div class="col-sm-10">
                    <input type="Text" class="form-control"
                           value="@Model.Address" name="Address">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Quốc gia:</label>
                <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.Country, SelectListHelper.Countries(), new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Country, "", new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Thành phố:</label>
                <div class="col-sm-10">
                    <input type="Text" class="form-control"
                           value="@Model.City" name="City">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Mã bưu chính:</label>
                <div class="col-sm-10">
                    <input type="Text" class="form-control"
                           value="@Model.PostalCode" name="PostalCode">
                </div>
            </div>



            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                        Lưu dữ liệu
                    </button>
                    <a href="~/Suplier" class="btn btn-warning">
                        Quay lại
                    </a>
                </div>
            </div>

        </form>

    </div>
</div>

