﻿@model _19T1021105.Web.Models.PaginationSearchInput
@{
    ViewBag.Title = "Quản lý khách hàng";
}

<div class="box box-primary">
    <div class="box-body">
        <!-- tìm kiếm -->
        <form id="formSearch" action="~/Customer/Search">

            <input type="hidden" name="PageSize" value="@Model.PageSize" />

            <div class="input-group">
                <input type="text"
                       name="searchValue"
                       class="form-control"
                       placeholder="Search" autofocus value="@Model.SearchValue">

                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i> Tìm kiếm
                    </button>

                    <a href="~/Customer/Create" class="btn btn-primary" style="margin-left:5px">
                        <i class="fa fa-plus"></i> Bổ sung
                    </a>
                </div>
            </div>
        </form>

        <!-- kết quả tìm kiếm -->
        <div id="searchResult"></div>

    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#formSearch").submit(function (e) {
                e.preventDefault();
                doSearch(1);
                return;
            });
            doSearch(@Model.Page);
        })
        function doSearch(page) {
            var url = $("#formSearch").prop("action");
            var postData = $("#formSearch").serializeArray();
            postData.push({ "name": "page", "value": page });

            $.ajax({
                url: url,
                type: "POST",
                data: postData,
                error: function () {
                    alert("Your request is not valid!");
                },
                success: function (data) {
                    $("#searchResult").html(data);
                }
            });

            return;
        }
    </script>
}


