﻿@model _19T1021105.DomainModels.Employee
@{

}

<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal" action="~/Employee/Save" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <input type="hidden" name="EmployeeID" value="@Model.EmployeeID" />

            <div class="form-group">
                <label class="control-label col-sm-2" for="Photo">Ảnh cá nhân:</label>
                <div class="col-sm-10">
                    @if (Model.EmployeeID != 0)
                    {
                        if (Model.Photo.Contains("http"))
                        {
                            <img id="photo" style="width:200px" src="~/Images/Employees/@Model.Photo" alt="avatar" />
                        }
                        else
                        {
                            <img id="photo" style="width:200px" src="~/Images/Employees/@Model.Photo" alt="avatar" />
                        }
                    }
                    else
                    {
                        <img id="photo" src="" style="width:200px" />
                    }
                    <input type="hidden" name="Photo" value="@Model.Photo" />
                    <input type="file" class="form-control" name="uploadPhoto" accept="image/Employees*"
                           onchange="document.getElementById('photo').src = window.URL.createObjectURL(this.files[0])" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Họ:</label>
                <div class="col-sm-10">
                    <input type="Text" class="form-control" autofocus
                           value="@Model.LastName" name="LastName">
                    @Html.ValidationMessageFor(m => m.LastName, "", new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Tên:</label>
                <div class="col-sm-10">
                    <input type="Text" class="form-control"
                           value="@Model.FirstName" name="FirstName">
                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Email:</label>
                <div class="col-sm-10">
                    <input type="Text" class="form-control"
                           value="@Model.Email" name="Email">
                    @Html.ValidationMessageFor(m => m.Email, "", new { @style = "color:#f00" })
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-2">Ngày sinh:</label>
                <div class="col-sm-10">

                    <input type="Text" class="form-control"
                           value="@String.Format("{0:dd/MM/yyyy}", Model.BirthDate)" name="Birthday">
                    @Html.ValidationMessageFor(m => m.BirthDate, "", new { @style = "color:#f00" })
                    <input type="hidden" name="BirthDate" value="@Model.BirthDate" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Chú thích:</label>
                <div class="col-sm-10">
                    <input type="Text" class="form-control"
                           value="@Model.Notes" name="Notes">
                    @Html.ValidationMessageFor(m => m.Notes, "", new { @style = "color:#f00" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                        Lưu dữ liệu
                    </button>
                    <a href="~/Employee" class="btn btn-warning">
                        Quay lại
                    </a>
                </div>
            </div>

        </form>

    </div>
</div>

