﻿@model _19T1021105.Web.Models.EmlpoyeeSearchOutput
@{
    Layout = null;
}

<p style="margin-top: 10px">
    có <strong>@Model.RowCount</strong> nhân viên trong tổng số <strong>@Model.PageCount</strong> trang
</p>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Ảnh cá nhân</th>
                <th>Họ</th>
                <th>Tên</th>
                <th>Email</th>
                <th>Ngày sinh</th>
                <th>Chú thích</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>
                        @*<img src="Images/Employees/@item.Photo" style="width:80px" />*@
                        @if (item.Photo.Contains("http"))
                        {
                            <img src="@item.Photo" style="width:80px" alt="avatar" />
                        }
                        else
                        { <img src="~/Images/Employees/@item.Photo" style="width:80px" alt="avatar" />}
                    </td>
                    <td>@item.LastName</td>
                    <td>@item.FirstName</td>
                    <td>@item.Email</td>
                    <td>@item.BirthDate</td>
                    <td>@item.Notes</td>
                    <td class="text-right">
                        <a href="~/Employee/Edit/@item.EmployeeID" class="btn btn-xs btn-primary">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="~/Employee/Delete/@item.EmployeeID" class="btn btn-xs btn-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="text-center">
    <ul class="pagination">
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            if (i == Model.Page)
            {
                <li class="active"><a href="#">@i</a></li>
            }
            else
            {
                <li><a href="javascript:;" onclick="doSearch(@i)">@i</a></li>
            }
        }
    </ul>
</div>


